/* styles.css */
body {
     font-family: cursive;
    background-color: #f0f0f0;
    margin: 10px 50px 20px;
    padding: 10px 50px 30px 0;
}

header {
    background-color: #1c044400;
    color: #000002;
    text-align: start;
    padding: 10px 50px 30px 0;
}

main {
    max-width: 75%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #1c1f46;
    box-shadow: 0 2px 4px rgba(9, 5, 13, 0.1);
}

h1, h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

ul {
    list-style: url('/media/examples/rocket.svg');
    padding-left: 1rem;
}

a {
    color: #0074d9;
    text-decoration: underline overline #FF3028;
}
